* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    width: 100vw; 
    height: 100vh; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img {
    width: 50px;
    height: 50px;
    margin: 40px auto;
    position: relative;
    left: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.card1 {

    width: 300px;
    height: 500px;
    background-color: #3b8fc7;

}

.card2 {

    width: 300px;
    height: 500px;
    background-color: #123456;
}

.card3 {

    width: 300px;
    height: 500px;
    background-color: #680336;
}

h1 {

    font-size: large;
    padding: 10px 50px;
    color: #fff;
    letter-spacing: 0.1cm;
}

p {

    font-size: medium;
    color: #fff;
    padding: 10px 50px;
    letter-spacing: normal;
}

.btn1 {

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    color: #3b8fc7;
    cursor: pointer;
}

.btn2 {

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    color: #123456;
    cursor: pointer;
}

.btn3 {

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    color: #680336;
    cursor: pointer;
}

.btn:hover {
    
    transform: scale(1.2);
    transition: ease-in;
    transition-duration: .3s;
}

@media  (max-width: 480px){

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
   
    .btn1 {

        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 30px;
        border: none;
        border-radius: 50px;
        color: #3b8fc7;
        cursor: pointer;
    }
    
    .btn2 {
    
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 30px;
        border: none;
        border-radius: 50px;
        color: #123456;
        cursor: pointer;
    }
    
    .btn3 {
    
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 30px;
        border: none;
        border-radius: 50px;
        color: #680336;
        cursor: pointer;
    }    

    img {
        width: 50px;
        height: 50px;
        margin: 20px auto;
        position: relative;
        left: 50px;
    }


    .card1 {

        width: 300px;
        height: 400px;
        background-color: #3b8fc7;
    
    }
    
    .card2 {
    
        width: 300px;
        height: 400px;
        background-color: #123456;
    }
    
    .card3 {
    
        width: 300px;
        height: 400px;
        background-color: #680336;
    }



    body { 
        width: 100vw; 
        height: 1500px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }



    .btn:hover {
        transform: scale(1.1);
        transition: ease;
        transition-duration: .3s;
    }


}
